body {
  background: #f5f5f5;
  font-family: Arial;
}

h1{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.game {
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#guessInput{
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #dddddd;
    padding-left: 10px;
}

#guessBtn{
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(182, 228, 228);
}

#resetBtn{
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(245, 178, 178);
}

#message, #attempts{
    font-weight: bold;
}
