*{
    margin: 0;
    padding: 0;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

#reset_name{
    display: none;
}
