*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

#card{
    height: 400px;
    width: 300px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 22px;
    padding: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.3);
}

#card h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(116, 50, 0);
    font-weight: bold;
    margin-top: 5px;
    font-size: 40px;
    text-shadow: 0px 0px 8px rgb(0, 0, 0, 0.2);
    
}

#card h5{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(161, 0, 0);
    text-shadow: 0px 0px 8px rgb(0, 0, 0, 0.2);
}

#card img{
    display: grid;
    place-items: center;
    height: 200px;
    width: 240px;
    object-fit: cover;
    object-position: center;
    border-radius: 22px;
    margin: auto;
    box-shadow: 0px 5px 8px rgb(0, 0, 0, 0.3);
    transform: scale(1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

#card img:hover{
    transform: scale(1.03);
    box-shadow: 0px 5px 8px rgb(0, 0, 0, 0.5);
}

#btn{
    height: auto;
    width: 200px;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 22px;
    border: none;
    padding: 5px;
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.3);
    background-color: rgb(4, 228, 253);
    text-shadow: 0px 0px 8px rgb(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.5s, color 0.5s;
}

#btn:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.5);
}